*{
    padding: 0;
    margin: 0;
}

h1{
    display: flex;
    justify-content: center;
}

.container{
    width: 100%;
    height: 100%;
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main{
    display: flex;
    justify-content: space-around; 
}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 20vh;
    border: 1px solid;
}

.task{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 20vh;
    border: 1px solid;
    justify-content: center;
}

button{
    width: 7vw;
    height: 4vh;
}

#projectInput{
    margin-bottom: 2vh;
}

.taskInput{
    margin-bottom: 1vh;
}