*{
    padding: 0;
    margin: 0;
}

h1{
    display: flex;
    justify-content: center;
}


.body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.task{
    display: none;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

button{
    width: 7vw;
    height: 4vh;
}

#projectInput{
    margin-bottom: 2vh;
}

.taskInput{
    margin-bottom: 1vh;
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 90vh;
    width: 95vw;
}

header{
    background-color: rgb(233, 73, 71);
    padding: 1vh;
    color: white;
}

.project{
    background-color: rgb(238, 239, 242);
    height: 95vh;
}

#addTaskImg{
    position:absolute;
    bottom:0;
    right:0;
    border: none;
    background-color: inherit;
    margin-bottom: 3vh;
}
